asgiref/
asgiref-*.dist-info/
django-*.dist-info/
dj_database_url/
dj_database_url-*.dist-info/
sqlparse/
sqlparse-*.dist-info/
tzdata/
tzdata-*.dist-info/
bin/
Lib/
Scripts/
pyvenv.cfg
__pycache__/
*.pyc
*.bak
.env
db.sqlite3