asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
Django==6.0.6
django-pwa==2.0.1
django-otp==1.7.0
django-two-factor-auth==1.18.1
dj-database-url==2.2.0
et_xmlfile==2.0.0
idna==3.18
mysqlclient==2.2.8
openpyxl==3.1.5
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.7.0
